body {
    color: #fff;
    background: #4b4b4b;
    font-family: 'Roboto', sans-serif;
}
.form-control {
    height: 40px;
    box-shadow: none;
    color: #969fa4;
}
.form-control:focus {
    border-color: #2596be;
}
.form-control, .btn {        
    border-radius: 3px;
}
.ots-form {
    width: 650px;
    margin: 0 auto;
    padding: 30px 0;
      font-size: 15px;
}
.ots-form h4 {
    color: #636363;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}
.ots-form h4:before, .ots-form h4:after {
    content: "";
    height: 2px;
    width: 25%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
}	
.ots-form h4:before {
    left: 0;
}
.ots-form h4:after {
    right: 0;
}
.ots-form .hint-text {
    color: #999;
    margin-bottom: 30px;
    text-align: center;
}
.ots-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.ots-form .form-group {
    margin-bottom: 20px;
}
.ots-form input[type="checkbox"] {
    margin-top: 3px;
}
.ots-form .btn {        
    font-size: 16px;
    font-weight: bold;		
    min-width: 140px;
    outline: none !important;
}
.ots-form .row div:first-child {
    padding-right: 10px;
}
.ots-form .row div:last-child {
    padding-left: 10px;
}    	
.ots-form a {
    color: #fff;
    text-decoration: underline;
}
.ots-form a:hover {
    text-decoration: none;
}
.ots-form form a {
    color: #ffffff;
    text-decoration: none;
}	
.ots-form form a:hover {
    text-decoration: underline;
} 
.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #2596be !important;
}
.btn-primary{
    background-color: #2aa2c7 !important;
}

