<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
        <title>Rootsektor IT-Security GmbH - OneTimeSecret</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="ots-form" style="margin-top: 3%">
            <form action="/burn" method="post">
                <input type="hidden" name="link" value="{{link}}">
                <h4><img src="/static/rootsektor-logo.png"></h4>
                <p class="hint-text">Create and share secrets secure</p>
                <font color="#000000">Share this link (valid for 7 days):</font>
                <div class="form-group">
                    <input type="text" class="form-control" name="secret" placeholder="" required="required" readonly="readonly" value="{{base_url}}/secret/{{link}}">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-danger btn-lg btn-block">Burn Secret</button>
                </div>
            </form>
            <a href="/" type="submit" class="btn btn-primary btn-lg btn-block">Create new secret</a>
        </div>
    </body>
</html>
