<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
        <title>Rootsektor IT-Security GmbH - OneTimeSecret</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="ots-form" style="margin-top: 3%">
            <form>
                <h4><img src="/static/rootsektor-logo.png"></h4>
                <p class="hint-text">Create and share secrets secure</p>
                <div class="form-group">
                    <textarea class="form-control" name="secret" placeholder="" required="required" rows="10">{{secret}}</textarea>
                </div>
                <div class="form-group">
                    <a href="/" type="submit" class="btn btn-danger btn-lg btn-block">Back</a>
                </div>
            </form>
	    <font color="788081">onetimesecret v{{version}} by Rootsektor IT-Security GmbH</font>
        </div>
    </body>
</html>
